<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Listados"
        tools:targetApi="31">
        <activity
            android:name="listviews.ListView_8_Optimizada"
            android:exported="false" />
        <activity
            android:name="listviews.ListView_7_Personalizado3_ArrayList"
            android:exported="false" />
        <activity
            android:name="listviews.ListView_6_Personalizada2_DiferentesImagenes_TypedArray"
            android:exported="false" />
        <activity
            android:name="listviews.ListView_5_Personalizada_DiferentesImagenes"
            android:exported="false" />

        <activity
            android:name="spinners.Spinner_6_combox"
            android:exported="false" />
        <activity
            android:name="listviews.ListView_4_Personalizada1"
            android:exported="false" />
        <activity
            android:name="listviews.ListView_3_Dinamica_Activity"
            android:exported="false" />
        <activity
            android:name="listviews.ListView_2_Activity"
            android:exported="false" />
        <activity
            android:name="listviews.ListView_1_Activity"
            android:exported="false" />
        <activity
            android:name="spinners.Spinner_5_DinamicoAcitivity"
            android:exported="false" />
        <activity
            android:name="spinners.Spinner_4_DinamicoFigurado"
            android:exported="false" />
        <activity
            android:name="spinners.Spinner_3_ActivityDesdeRecurso"
            android:exported="false" />
        <activity
            android:name="spinners.Spinner_2_Activity"
            android:exported="false" />
        <activity
            android:name="spinners.Spinner_1_Activity"
            android:exported="false" />
        <activity
            android:name=".clases.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>